#main {
    transition: margin-left .10s;
    padding: 16px;
  }
  
@media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 25px;
    }
  
    .sidenav a {
        font-size: 18px;
      }
  }
.list a{
    margin-top: 5px;
    color: white;

  }