<app-emp-header></app-emp-header>
<div class="col-md-3 menu">
  <br />
  <div>
    <ul class="nav nav-pills nav-stacked list">
      <li>
        <a routerLink="/Dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li>
        <a routerLink="/VendManage" routerLinkActive="active">Vendor Management</a>
      </li>
      <li>
        <a routerLink="/ServManage" routerLinkActive="active">Service Management</a>
      </li>
      <li>
        <a routerLink="/MngMtrl" routerLinkActive="active">Manage Materials</a>
      </li>
      <li>
        <a routerLink="/TwrMng" routerLinkActive="active">Tower Management</a>
      </li>
    </ul>
  </div>
</div>