  <blockquote>
    <a href="#menu" class="glyphicon glyphicon-th-list"></a>
    <br />
    <br />
    <div>
      <ul class="nav nav-pills nav-stacked list">
        <li class="active">
          <a href="EmpPage.html">Dashboard</a>
        </li>
        <li>
          <a href="VendManage.html">Vendor Management</a>
        </li>
        <li>
          <a href="ServManage.html">Service Management</a>
        </li>
        <li>
          <a href="#">Manage Materials</a>
        </li>
        <li>
          <a href="#">Tower Management</a>
        </li>
      </ul>
    </div>
  </blockquote>