<app-emp-header></app-emp-header>
<div class="col-md-3">
  <a href="#menu" class="glyphicon glyphicon-th-list"></a>
  <br />
  <br />
  <div>
    <ul class="nav nav-pills nav-stacked list">
      <li class="active">
        <a href="Dashboard">Dashboard</a>
      </li>
      <li>
        <a href="VendManage">Vendor Management</a>
      </li>
      <li>
        <a href="ServManage">Service Management</a>
      </li>
      <li>
        <a href="MngMtrl">Manage Materials</a>
      </li>
      <li>
        <a href="TwrMng">Tower Management</a>
      </li>
    </ul>
  </div>
</div>