<div class="container">
  <div class="row">
      <div class="col-xs-12">
      <hr>
      <div class="row">
        <div class="col-xs-6">
          </div>
        
      </div>
      <div class="row">
        <div class="col-xs-6 text-left">
          <address>
            <strong>P.O Date:</strong><br>
            March 7, 2014<br><br>
          </address>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <strong>&nbsp;&nbsp;Purchase Order Summary</strong>
          </h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <td>
                    <strong>Item</strong>
                  </td>
                  <td class="text-center">
                    <strong>Quantity</strong>
                  </td>
                  <td class="text-center">
                    <strong>Unit_Price</strong>
                  </td>
                  <td class="text-center">
                    <strong>Loading</strong>
                  </td>
                  <td class="text-right">
                    <strong>Totals</strong>
                  </td>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>Service Name</td>
                  <td class="text-center">5</td>
                  <td class="text-center">100</td>
                  <td class="text-center">5%</td>
                  <td class="text-right">525</td>

                </tr>
                <tr>
                  <td>Service Name</td>
                  <td class="text-center">20</td>
                  <td class="text-center">3</td>
                  <td class="text-center">4%</td>
                  <td class="text-right">84</td>
                </tr>
                <tr>
                  <td>Service Name</td>
                  <td class="text-center">1</td>
                  <td class="text-center">100</td>
                  <td class="text-center">5%</td>
                  <td class="text-right">105</td>
                </tr>
                <tr>

                  <td class="no-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line"></td>
                  <td class="thick-line text-center">
                    <strong>Subtotal : </strong>
                  </td>
                  <td class="thick-line text-right">670.99</td>
                </tr>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center">
                    <strong>CGST : </strong>
                  </td>
                  <td class="no-line text-right">15</td>
                </tr>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center">
                    <strong>SGST : </strong>
                  </td>
                  <td class="no-line text-right">15</td>
                </tr>
                <tr>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line"></td>
                  <td class="no-line text-center">
                    <strong>Total : </strong>
                  </td>
                  <td class="no-line text-right">685.99</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-ok"></span> Finalize P.O
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>