<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="Home">
          <b>&nbsp;&nbsp;&nbsp;Tower Management System</b>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Hi Employee...</a>
          </li>
          <li class="active">
            <a href="Home" (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
      </ul>
    </div>
  </nav>