.navbar-header b{
    color: white;
}
.dropdown-toggle{
    font-style: unset;
    font-size: 15px;

}
.dropdown-menu{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    height: 100px;
    margin: 0 0 0 25px;
    padding: 10px;
    width: 110px;
}