
<div class="col-md-9 center" >
  <h2>Employee_Details </h2>   
<button class="btn btn-primary" (click)="lgModal.show()">Add Employee</button>
<br />
<br />
<ag-grid-angular style="width: 800px; height: 300px;margin-right:250px;" class="ag-theme-fresh"
[rowData]="rowData"
[columnDefs]="columnDefs">
</ag-grid-angular>
</div>


 
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">American Tower Corporation</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <app-user-reg></app-user-reg>>
      </div>
    </div>
  </div>
</div>
 