<div class="add" (click)="lgModal.show()"><span class="glyphicon glyphicon-plus"></span> Add Material</div>
    <ag-grid-angular style="height: 200px; width: 1000px;" class="ag-theme-fresh" [rowData]="ctlrowData" [columnDefs]="ctlcolumnDefs"
            [gridOptions]="gridOptions"
            enableColResize
            enableSorting
            enableFilter
            suppressRowClickSelection
            toolPanelSuppressGroups
            toolPanelSuppressValues
            rowHeight="30"
            rowSelection="multiple"
            (gridReady)="onReady($event)">
    </ag-grid-angular>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Add Material</h4>
                  <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-mtrl-form></app-mtrl-form>
                </div>
              </div>
            </div>
          </div>