.form {
    text-align: center;
	font-family: 'Raleway', sans-serif;

    background-color: rgb(160, 144, 124);
}
.grid-container {
    padding: 0;
    max-inline-size: 80%;
}
.header-w3l {
    padding: 2em 0;
}
.header-w3l h1{
	font-size:3em;
    color:#fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header-w3l h1 span {
    font-weight: 800;
}
.main-content-agile {
    margin: 0 auto;
    margin-left: 15%;
    width: 32%;
}
.wthree-pro {
    background:rgba(0, 0, 0, 0.52);
    background: rgba(44, 201, 144, 0.5);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.wthree-pro h2 {
    font-size: 1.7em;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    padding: 1em 0;
}
.sub-main-w3{
    margin-top: 0px;
	position: unset;
}
.sub-main-w3 h3{
    margin-top: -20px;
}
.sub-main-w3 input[type="text"],.sub-main-w3 input[type="email"],.sub-main-w3 input[type="number"], .sub-main-w3 input[type="password"] {
    outline: none;
    font-size: .9em;
    border: none;
    border: 1px dotted #fff;
    background: #fff;
    width: 100%;
    color: #333;
    padding: 1em 0 1em 2em;
    letter-spacing: 1px;
	margin-bottom: 1em;
	font-family: 'Raleway', sans-serif;
}
.sub-main-w3 input[type="password"]{
	margin-top: 0em;
}
.sub-main-w3 input[type="submit"] {
    color: #fff;
    background: #2CC990;
    border: none;
    padding: .7em 4em;
    outline: none;
    font-size: 1.1em;
    cursor: pointer;
    letter-spacing: 1px;
	margin-top: 0.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Raleway', sans-serif;
}
.sub-main-w3 input[type="submit"]:hover {
    background: #2CC990;
}