<div class="form">
  <div class="header-w3l">
    
      <div class="main-content-agile">
        <div class="sub-main-w3">
          <form action="#" method="post">
            <h3>View Purchase Order</h3>
            <br />
            <div class="grid-container">
              P.O. No.<input placeholder="Purchase Order #" name="Purchase order" type="text" required="">
              P.O. Date<input placeholder="Purchase Order Date" name="Purchase_order_date" type="text" required="">
              Tower ID<input placeholder="Tower ID" name="towerid" type="number" required="">
              Tower Region<input placeholder="Tower Region" name="towerregion" type="text" required="">
              Service ID<input placeholder="Service ID" name="serviceid" type="number" required="">
              Service Details<input placeholder="Service Details" name="servicedetails" type="text" required="">
              Vendor ID<input placeholder="Vendor ID" name="vendorid" type="number" required="">
              Vendor Name<input placeholder="Vendor Name" name="vendorname" type="text" required="">
            </div>
            <a href="#" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-ok"></span> Initiate P.O
            </a>
          </form>
        </div>
   
    </div>
  </div>