.ErrorMesssage{
  font-size: 15px;
  color:red;
}

.form-signin {
  max-width: 55%;
  padding: 10px 18px 26px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}
