<li>
  <div class="row">
    <div class="col-md-12">
      <form action="" method="post" name="Login_Form" class="form-signin">
        <hr class="colorgraph"><br>
<div> Login page</div>

        <input type="text" class="form-control" name="Username" placeholder="Username" required autofocus [(ngModel)]="userName"/>
        <div class="ErrorMesssage" *ngIf="userName!='' && userName.length<4 "> User should have atleast 4 chars in name</div>
        <input type="password" class="form-control" name="Password" placeholder="Password" required="" [(ngModel)]="userPwd"/>
        <div class="ErrorMesssage" *ngIf="userPwd!='' && userPwd.length<8 "> Password should have atleast 8 chars</div>

        <input type="number" class="form-control" name="Captcha" placeholder="Enter Captcha Code" required="" [(ngModel)]="captcha" />
        <div class="ErrorMesssage" *ngIf="Errors && Errors.length>0">
          <ul>
            <li *ngFor="let error of Errors">
              {{error}}
            </li>
          </ul>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" (click)="loginClick()" type="button">Login</button>
        <br><a href="#"> <h4> <b> Forgot Password ? </b></h4> </a>
      </form>
    </div>
  </div>
</li>
