.sidebar .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
.body {
    background-color: #b35959;
  }
  #wrapper {
    width: 100%;
  }
  #page-wrapper {
    padding: 0 15px;
    min-height: 568px;
  }  
  #page-wrapper h1{
    color: white;
}