<div class="form">
    <div class="header-w3l">
      <div class="center">
  
        <div class="main-content-agile">
          <div class="sub-main-w3">
            <form action="#" method="post">
  
              <h3>Add New Service</h3>
              <br />
              <div class="grid-container">
                <input placeholder="Service Name" name="Service_Name" type="text" required="">
                <input placeholder="Service ID" name="Service_ID" type="text" required="">
              </div>
              <div class="grid-container">
                <input placeholder="Parent ID" name="Parent_ID" type="number" required="">
                <input placeholder="Description" name="Description" type="text" required="">
                <input placeholder="Cost" name="Cost" type="number" required="">
                <input placeholder="Valid From" name="Valid_From" type="number" required="">
                <input placeholder="Valid Through" name="Valid_Through" type="text" required="">
              
              </div>
              
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Add Service
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>