.grid {
    margin-top: 70px;
}
.ag-header-cell-sorted-asc {
    color: white;    
}
.ag-header-cell span{
    color: white;
}
.add{
    font-weight: bold;
    float: right;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}
.glyph{
    color: white;
    margin-left: 80px;
    font-size: 30px;
    float: left;
}
.modal-body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
}