
<div class="container">
   
	<div class="col-lg-9 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Tower ID</label>
								<input type="text" placeholder="Tower ID" class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Tower Name</label>
								<input type="text" placeholder="Tower Name" class="form-control">
							</div>
						</div>					
					
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>State</label>
								<input type="text" placeholder="State" class="form-control">
							</div>	
							<div class="col-sm-4 form-group">
								<label>City</label>
								<input type="text" placeholder="City" class="form-control">
							</div>	
								<div class="col-sm-4 form-group">
								<label>Location</label>
								<input type="text" placeholder="Location" class="form-control">
							</div>	
						
						</div>
					
				  
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Add Tower
              </a>
					</div>
				</form> 
				</div>
	</div>
	</div>