<div class="form">
    <div class="header-w3l">
      <div class="center">
  
        <div class="main-content-agile">
          <div class="sub-main-w3">
            <form action="#" method="post">
  
              <h3>Add New Tower</h3>
              <br />
              <div class="grid-container">
                <input placeholder="Tower ID" name="Tower_ID" type="text" required="">
                <input placeholder="Tower Name" name="Tower_Name" type="text" required="">
              </div>
              <div class="grid-container">
                <input placeholder="State" name="state" type="text" required="">
                <input placeholder="City" name="city" type="text" required="">
                <input placeholder="Location" name="Location" type="number" required="">
                
              </div>
              
              <a href="#" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Add Tower
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>