<div class="form">
    <div class="header-w3l">
      <div class="center">
  
        <div class="main-content-agile">
          <div class="sub-main-w3">
            <form action="#" method="post">
  
              <h3>Add New Tower</h3>
              <br />
              <div class="grid-container">
                <input placeholder="Tower ID" name="Tower_ID" type="text" required="">
                <input placeholder="Tower Name" name="Tower_Name" type="text" required="">
              </div>
              <div class="grid-container">
                <input placeholder="Location" name="Location" type="number" required="">
                <input placeholder="Build Date" name="Build_Date" type="text" required="">
                
              </div>
              
              <input type="submit" value="Add Tower">
            </form>
          </div>
        </div>
      </div>
    </div>