<h3>
  <font color="white">Add a New Service</font>
</h3>
<form method="POST" action="#" enctype="multipart/form-data">
  <div class="form-group">
    <div class="input-group input-file" name="Fichier1">
      <span class="input-group-btn">
        <button class="btn btn-default btn-choose pull-right" type="button">Choose</button>
      </span>
      <input type="text" class="form-control" placeholder='Choose a file...' />
      <span class="input-group-btn">
        <button class="btn btn-warning btn-reset" type="button">Reset</button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>