<div class="form">
  <div class="header-w3l">
      <div class="center">
      
    <div class="main-content-agile">
        <div class="sub-main-w3">
          <form action="#" method="post">
            <input placeholder="FirstName" name="mail" type="text" required="">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input placeholder="LastName" name="mail" type="text" required="">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input placeholder="Email" name="mail" type="email" required="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input placeholder="PhoneNumber" name="Phone" type="tel" required="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input placeholder="Location" name="location" type="text" required="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <input placeholder="Company" name="Company" type="text" required="">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <input type="submit" value="Register">
          </form>
        </div>
      </div>
    </div>
  </div>