
<div class="container-fluid" style="margin-top: 0px;">

  <div class="col-md-9 text-center">
    <h2>
      <font color="white">
        <i class="glyphicon glyphicon-user"></i> Vendor Details</font>
    </h2>
    <input type="text" id="myInput" onkeyup="myFunction()" style="float:right" placeholder=" Search for Names..." title="Type in a name">

    <div class="outer-form">
      <table class="table-hover table vertical">
        <thead style="color: white; font-weight: normal; background-color:darkslategrey;">
          <tr>
            <th class="head">S.No.</th>
            <th class="head">Username</th>
            <th class="head">E-mail</th>
            <th class="head">Phone Number</th>
            <th class="head">Location</th>
            <th class="head">Company</th>
            <th class="head">start Date</th>
            <th class="head">Expiry Date</th>
          </tr>
        </thead>
        <tbody style="border:1px solid; background-color:white; color:#A1A6AB; text-align: left;">
          <tr>
            <td style="padding: 14px;">01</td>
            <td>Swapnil</td>
            <td>smulay696@gmail.com</td>
            <td>7588946664</td>
            <td>pune India</td>
            <td>ATC</td>
            <td>1-2-2018</td>
            <td>31-12-2018</td>
          </tr>
          <tr>
            <td style="padding: 14px;">02</td>
            <td>Sachin</td>
            <td>schin8509@gmail.com</td>
            <td>7588946664</td>
            <td>Nagar</td>
            <td>BTC</td>
            <td>1-2-2018</td>
            <td>31-12-2018</td>

          </tr>
          <tr>
            <td style="padding: 14px;">03</td>
            <td>Sachin</td>
            <td>schin8509@gmail.com</td>
            <td>7588946664</td>
            <td>Nagar</td>
            <td>BTC</td>
            <td>1-2-2018</td>
            <td>31-12-2018</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>