.wrapper {
  margin-left: 750px;
  margin-top: 30px;
  margin-bottom: 20px;
}

input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="number"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url('assets/ats.jpg');
  background-repeat: no-repeat;
  background-size: 1380px 670px;
}

.brand-heading {
  font-size: 25px;
}

.border-menu {
  font-size: 18px;
  position: absolute;
  padding-left: 2.5em;
  padding-top: 0.55em;
}

  .border-menu:before {
    content: "";
    position: absolute;
    top: 0.75em;
    left: 0.5em;
    bottom: 1em;
    width: 1.5em;
    height: 0.725em;
    border-top: 0.575em double white;
    border-bottom: 0.225em solid white;
  }

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
  border-width: 6px;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.panel-title {
  font-size: 14px;
}

  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  padding-left: 20px;
  margin-left: 20px;
  border-top-color: #EEEEEE;
}

body {
  background-color: #26a69a;
}

.demo {
  padding-top: 10px;
  padding-bottom: 50px;
}

.glyphicon.glyphicon-th-list {
  font-size: 25px;
  color: white;
}

.glyphicon-th-list:before {
  margin-left: 5px;
}


body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  margin-top: 51px;
}

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

    .sidenav a:hover {
      color: #f1f1f1;
    }

  .sidenav .closebtn {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

#main {
  transition: margin-left .10s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 25px;
  }

    .sidenav a {
      font-size: 18px;
    }
}
