body {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 1380px 670px; 
}
  .brand-heading{
    font-size: 25px;
}
.container a{
  cursor: pointer;
  font-size: 16px;
}
b{
  color: white;
}