<br />
<div class="container col-md-4">
  <accordion>
    <accordion-group heading="American Tower Corporation">
      <a style="color:Tomato" (click)="viewDetail()">Employee</a>
      <a (click)="VviewDetail()">Vendor</a>
      <br />
    </accordion-group>
  </accordion>
  
  <accordion>
    <accordion-group heading="BT Corporation">
      <a style="color:Tomato"(click)="viewDetail()">Employee</a>
      <a (click)="VviewDetail()">Vendor</a>
      <br />
    </accordion-group>
  </accordion>
</div>

<div class="col-sm-6" *ngIf="visible">
  <app-emp-grid></app-emp-grid>
</div>

<div class="col-sm-6" *ngIf="visible1">
    <app-ved-grid></app-ved-grid>
  </div>
  