<app-header></app-header>
<br />
<div class="container col-sm-4">
  <div class="empvend">
    <a routerLink="/atc/emp-grid" routerLinkActive="active">
       Employee 
    </a>
    <b>|</b>
    <a routerLink="/atc/ved-grid" routerLinkActive="active">
       Vendor 
    </a>
  </div>
  <div class="menu">
    <div>
      <ul class="nav nav-pills nav-stacked list">
        <li>
          <a routerLink="/atc" routerLinkActive="active"><b>American Tower Corporation</b></a>
        </li>
        <li>
          <a routerLink="/btc" routerLinkActive="active"><b>BT Tower</b></a>
        </li>
      </ul>
    </div>
  </div>
</div>