<app-main-header></app-main-header>
<br />
<br />
<div class="col-md-6">
  <div class="brand-heading">
    <div class="center">
      <h1>
        <font size="15">
          <font color="white">Tower Management System</font>
        </font>
      </h1>
    </div>
    <div class="center">
      <p>
        <font color="white">--- It helps to Manage Employees
          <br>Solve the Problems about Towers ---</font>
      </p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <app-login></app-login>
</div>
<div>
  <app-copyright></app-copyright>
</div>