
  <body>
    <div class="header-w3l">
     <h1><span>B</span>usiness <span>S</span>ubscription <span>F</span>orm</h1>
   </div>
 
   <div class="main-content-agile">
     <div class="wthree-pro">
       <h2>Fill the form for subscription</h2>
     </div>
     <div class="sub-main-w3">	
       <form action="#" method="post">
         <input placeholder="FirstName" name="mail" type="text" required="">
         <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
         <input placeholder="LastName" name="mail" type="text" required="">
         <span class="icon2"><i class="fa fa-user" aria-hidden="true"></i></span>
         <input placeholder="Email" name="mail" type="email" required="">
         <span class="icon3"><i class="fa fa-envelope" aria-hidden="true"></i></span>
         <input  placeholder="PhoneNumber" name="Phone" type="tel" required="">
         <span class="icon4"><i class="fa fa-phone" aria-hidden="true"></i></span>
         <input  placeholder="Location" name="location" type="text" required="">
         <span class="icon5"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
         <input  placeholder="Company" name="Company" type="text" required="">
         <span class="icon6"><i class="fa fa-building-o" aria-hidden="true"></i></span>
         
         <input type="submit" value="Subscribe Now">
       </form>
     </div>
   </div>


</body>

